
*, *:before, *:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Noto Sans TC, sans-serif';
    background: #020202;
    color: #ffffff;
    line-height: 1.2;
} 

.container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: blueviolet;
}

h1 {
    font-size: 120px;
    font-weight: 900;
}
h2 {
    font-size: 80px;
    font-weight: 900;
}
h3 {
    font-size: 48px;
    font-weight: 900;
}
h4 {
    font-size: 32px;
    font-weight: 900;
}
h5 {
    font-size: 20px;
    font-weight: 900;
}

.button {
    font-size: 20px;
    font-weight: 900;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.card {
    padding: 80px 40px;
    /* width: 416px; */
    width: 32%;
    border: 1px solid #525252;
    border-radius: 16px;    
}
.card p {
    line-height: 1.5;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
    /* width: 416px; */
    width: 32%;
    height: 400px;
    background: rgba(255, 255, 255, 8%);
    border-radius: 16px;    
}
.card1 p {
    line-height: 1.5;
    flex-grow: 1
}

.main {
    background-color: white;
    color: black;
    margin: 160px 0;
    padding: 80px 0;
    border-radius: 60px;  
}
.main h2 {
    margin: 80px 0;
}

.card2 {
    /* width: 400px; */
    width: 32%;
    margin-bottom: 24px;
}
.card2-img {
    overflow: hidden;
}
.card2-img img {
    transition: .5s;
}
.card2-img img:hover {
    transform: scale(1.5, 1.5);
}
  
.info {
    padding: 20px 32px;  
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}
.info h2 {
    font-size: 20px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 12px;
}
.info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    height: 42px;
}

.card3 {
    padding: 20px 32px;  
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.iconsize {
    width: 18px; 
    height: 19px;
}

.upper_radius {
    border-radius: 10px 10px 0px 0px;
}
  
.lower_radius {
    border-radius: 0px 0px 10px 10px;
}

.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-start {
    justify-content: start;
}
.justify-content-end {
    justify-content: end;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}

.align-items-start {
    align-items: start;
}
.align-items-end {
    align-items: end;
}
.align-items-center {
    align-items: center;
}


.menu-2 {
    display: none;
}

@media (max-width: 767px) {
    .menu-1 {
        display: none;
    }
    
    .menu-2 {
        display: block;
    }

    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 20px;
    }

    .d-flex {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .card {
        width: 100%;
    }
    .card1 {
        width: 100%;
        height: auto;
    }
    .card2 {
        width: 100%;
    }
    .card2 img {
        width: 100%;
        height: 100%;        
    }

}